<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecs.thirdlibrary">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:name="com.nestlabs.sdk.NestAuthActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>
    </application>
</manifest>